*{
    background-color: black;
}
#b1{
    font-size: 60px;
}
#b2{
    color: rgb(204, 204, 204);
}
#hpm{
    padding-top: 20px;
}
#but1{
    border-radius: 20px;
    width: 200px;
    background-image: linear-gradient(to right, #56a0b5, #20424c);
    
}
#ca1{
    margin-bottom: 20px;
}
#but1:hover{
    transition: 300ms;
    background-image: linear-gradient(to right, #e6e6e6, #ffffff);
    color: black;
}
#but1:active{
    background-color: #f05050;
    transition: 300ms;
    color: rgb(255, 255, 255);
}
@media screen and (max-width: 600px) {
    #b1{
        font-size: 43px;
    }
    #b2{
        font-size: 25px;
    }
    #mc{
        font-size: 12px;
    }
    #but1:active{
        background-color: #c0c0c0;
        transition: 300ms;
        color: rgb(7, 7, 7);
    }
    #hpm{
        padding-top: 10px;
        padding-bottom: 0px;
    }
    
}

#img1{
    border-radius: 10%;
    /* border: rgb(119, 156, 163) 5px;
    border-style: dotted dashed solid solid; */
    opacity: 0.98;
}
